@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}


a:any-link {
    text-decoration: none;
}

header {
    min-width: 300px;
    height: 10vh;
    background-color: whitesmoke; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
}




header .logo {
    font-weight: 600;
    padding: 0.5em;
}

header nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    
}

.btn-container {
    width: fit-content;
    margin: 1em 1em 0 0;
    position: fixed;
    top: 0;
    right: 0;
}

.btn-container i {
    font-size: 1.5rem;
    border: none;
    color: black;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    /* background-color: rgb(22, 22, 22); */
    transition: all 0.5s;
}

.li-list {

    display: none;
    width: 100vw;
    background-color: rebeccapurple;
    padding-top: 0.05em;
    position: relative;
    top: 10vh;



    
}


header nav .li-list li {
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 0.7em 1em;
    background-color: rebeccapurple;
    border: 1px solid whitesmoke;
}


header nav .li-list li a {
    text-align: center;
    display: block;
    width: inherit;
    height: 100%;
    color: rgb(216, 214, 214);
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.5s;
}

header nav .li-list li a:hover, header nav .li-list li a:focus {
    transform: translateY(-20%);
    color: white;
}

.show {
    display: block;
}



main {
    height: 95vh;
    min-width: 300px;
    background-color: rgb(22, 22, 22);
}

main .text {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 30%;
}

main .text h4 {
    font-size: 1rem;
    line-height: 35px;
    margin: auto;
    width: 90%;
    padding-bottom: 2em;
    color: whitesmoke;
}

main .text h4 .color-purple {
    color: rgb(171, 110, 231);
}
main .text h4 a {
    background-color: whitesmoke;
    height: fit-content;
    padding: 0.3em;
    border-radius: 5px;
    animation: swap alternate 5s infinite;
}

@keyframes swap{
    0% {
        background-color: rebeccapurple;
        color: whitesmoke;
    }

    25% {
        background-color: burlywood;
        color: indigo;
    }

    50% {
        background-color: royalblue;
        color: whitesmoke;
    }

    75% {
        background-color: crimson;
        color: cornsilk;
    }

    100% {
        background-color: whitesmoke;
        color: rgb(22, 22, 22);
    }
}

/* main .text h4 a:hover, main .text h4 a:focus {
    background-color: rebeccapurple;
    color: whitesmoke;
}
 */
main .text button {
    padding: 0.5em 1em;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: whitesmoke;
    color: rgb(22, 22, 22);
    cursor: pointer;
    transition: all 0.5s;
}

main .text button a {
    text-decoration: none;
    color: rebeccapurple;
}


main .text button:hover, main .text button:focus {
    color: whitesmoke;
    box-shadow: 0px 0px 10px rebeccapurple;
}

footer {
    height: 20vh;
    min-width: 300px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}



footer .quick-links nav li {
    list-style: none;
    padding: 0.1em 0;
}

footer .quick-links nav li a {
    font-size: 0.7rem;
    text-decoration: underline;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 5px;
    color: whitesmoke;
}

footer .quick-links nav li a:hover, footer .quick-links nav li a:focus {
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
}

footer .socials nav li {
    list-style: none;
    padding: 0.1em 0;
}

footer .socials nav li a {
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration: underline;
    padding: 0.5em;
    border-radius: 5px;
    color: whitesmoke;
}

footer .socials nav li a:hover, footer .socials nav li a:focus {
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
}

@media  screen and (min-width: 576px) {

    header {

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    header .logo {
        font-size: 1.2rem;
        font-weight: 600;
        padding-left: 2em;
        color: rgb(22, 22, 22);
    }

    
 
    main {
        height: 90vh;
    }

    main .text {
        width: 80%;
        padding-top: 15%;
    }

    main .text h4 {
        font-size: 1.3rem;
        width: 100%;
    }

    main .text button {
        padding: 1em 2em;
        border: none;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 5px;
        background-color: whitesmoke;
        color: rgb(22, 22, 22);
        cursor: pointer;
        transition: all 0.5s;
    }

    footer {
        height: 10vh;
    }
    footer .socials nav li a {
        font-size: 1rem;
    }
    footer .quick-links nav li a {
        font-size: 1rem;
    }

    footer .quick-links nav li, footer .socials nav li {
        display: inline;
        padding: 0.5em;
        margin: 0.5em 0 0 0;
    }
    
    
}



